.sermons-settings-page {
	label.block {
		display: block;
		margin: 1.5em 0 .3em;
	}
}


a.delete-link {
	color: red;
}

#mp3-upload/*.postbox*/ {

}

#sermon-text/*.postbox*/ {
	label {
		display: block;
		font-weight: bold;
	}
	input[type="text"]{
		width: 80%;
	}
	input[name="passage[chapter]"] {
	}
	input[name="passage[verse]"] {
	}

	.inside {
		display: -webkit-flex;
		display:         flex;
		flex-wrap: nowrap;
		justify-content: space-around; // align flex items horizontally
		align-items: top; // align flex items vertically

		& > div {
			width: 50%;
			box-sizing: border-box;
		}
	}
}

body.post-php.post-type-sermon,
body.post-new-php.post-type-sermon
{
	textarea#content,
	iframe#content_ifr
	{
		// height: 150px !important;
	}

	.wp-editor-tools .wp-media-buttons {
		display: none;
	}

	// hide the publishing date from the pub box
	.misc-pub-curtime {
		display: none;
	}

	.sermon-bible-text {
		color: hsl(0, 0%, 44%);

		.verse-num {
			font-size: .6em;
			color: hsl(0, 0%, 38%);
			position: relative;
			top: -4px;
		}

		.footnote, .footnotes {
			display: none;
		}

		.copyright {
			color: inherit;
		}
	}

	.media-frame-toolbar button.media-button-insert {
		display: none;
	}
	.media-frame-toolbar .media-selection:after {
		display: none;
	}
	.sermon-upload-media-upload-msg {
		color: hsl(100,50%,39%);
		font-weight: bold;
		font-size: 1.1em;
	}
	.sermon-interface-media-temp-inline-msg {
		// background: hsl(90,80%,80%);
		padding: .9em;
	}
	// .media-frame-toolbar .media-toolbar-primary.search-form:before {
		// content: "After uploading the sound file, simply close this window.";
	// }
	//
}